@font-face {
    font-family: 'AllertaStencil';
    src: url('../fonts/AllertaStencil-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'MaruBuri';
    src: url('../fonts/MaruBuri-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'HerrVonMuellerhoff';
    src: url('../fonts/HerrVonMuellerhoff-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'FleurDeLeah';
    src: url('../fonts/FleurDeLeah-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Cako';
    src: url('../fonts/Cako-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Cardo';
    src: url('../fonts/Cardo-Italic.woff2') format('woff2');
    font-style: italic;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'CinzelDecorative';
    src: url('../fonts/CinzelDecorative-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'ivy';
    src: url('../fonts/IvyMode-Regular.woff') format('woff2');
    font-weight: 400;
}