@charset "UTF-8";

.inner1{
    display: flex;
    background: #fff;
}
.inner2{
    flex: 1;
}
.container{
    position: relative;
    padding: 0 4vw;
    max-width: 2000px;
    margin: 0 auto;
    background: #fff;
    overflow-x: hidden;

    @include mobile{
        padding: 0 30px;
    }
    .illu{
        &.flo1{
            position: absolute;
            top: 150px;
            right: -382px;
            width: 320px;
            height: 300px;
            object-fit: cover;

            @media (max-width: 1600px) {
                width: 280px;
                height: 260px;
            }
            @media (max-width: 1500px) {
                width: 260px;
                height: 240px;
            }
            @include desktop{
                top: 200px;
                width: 200px;
                height: 182px;
            }
            @include tablet{
                top: 240px;
                width: 180px;
                height: 162px;
            }
            @include mobile{
                top: 250px;
                width: 140px;
                height: 130px;
            }
        }
        &.flo2{
            position: absolute;
            top: 630px;
            left: 0;
            width: 300px;
            height: 310px;
            transform-origin: bottom left;
            object-fit: cover;

            @media (max-width: 1600px) {
                width: 270px;
                height: 275px;
            }
            @media (max-width: 1500px) {
                width: 250px;
                height: 255px;
            }
            @include desktop{
                top: 670px;
                left: 5px;
                width: 190px;
                height: 195px;                
            }
            @include tablet{
                display: none;
            }
        }
        &.flo3{
            position: absolute;
            top: 0;
            right: 400px;
            width: 70px;
            height: 160px;
            transform-origin: top;
            object-fit: cover;

            @media (max-width: 1600px) {
                right: 365px;
                width: 60px;
                height: 150px;
            }
            @media (max-width: 1500px) {
                left: 40px;
                width: 55px;
                height: 140px;
            }
            @include desktop{
                width: 50px;
                height: 100px;
            }
            @include tablet{
                left: 30px;
                width: 40px;
                height: 90px;
            }
            @include mobile{
                left: 20px;
                width: 35px;
                height: 80px;
            }
        }
        &.flo4{
            position: absolute;
            top: 500px;
            right: -100px;
            width: 210px;
            height: 200px;
            transform-origin: right;
            object-fit: cover;

            @media (max-width: 1600px) {
                width: 200px;
                height: 190px;
            }
            @media (max-width: 1500px) {
                right: -60px;
                width: 180px;
                height: 170px;
            }
            @include desktop{
                top: 450px;
                right: -70px;
                width: 150px;
                height: 150px;   
            }
            @include tablet{
                top: 750px;
                right: -50px;
                width: 120px;
                height: 120px;
            }
            @include mobile{
                top: 600px;
                right: -10px;
                width: 105px;
                height: 100px;
            }
        }
    }
}
.sc-visual{
    padding-top: 95px;
    padding-left: 50px;
    font-family: 'AllertaStencil';
    font-size: 130px;
    font-weight: 700;
    color: #0064df;

    @media (max-width: 1500px) {
        padding-left: 45px;
        font-size: 9vw;
    }
    @media (max-width: 1400px) {
        padding-left: 40px;
    }
    @include desktop{
        padding-left: 35px;
    }
    @include tablet{
        font-size: 10vw;
    }
    @include mobile{
        padding-top: 120px;
        padding-left: 0;
        font-size: 12vw;
    }
    @media (max-width: 500px) {
        font-size: 51px;
    }
    @media (max-width: 400px) {
        font-size: 48px;
    }
    @media (max-width: 380px) {
        font-size: 40px;
    }
    .desc{
        display: block;
        letter-spacing: -3px;
        margin-top: -15px;

        @include mobile{
            letter-spacing: -2px;
        }
    }
    .desc-box{
        display: flex;
        flex-wrap: wrap;
        gap: 0 40px;

        @include tablet{
            gap: 0 30px;
        }
        @include mobile{
            gap: 0 20px;
        }
        .strong{
            font-weight: 400;
            font-family: 'CinzelDecorative';
            color: #0064df;
            letter-spacing: -10px;

            @include mobile{
                letter-spacing: -5px;
            }
        }
    }
}
.sc-about{
    padding: 80px 0 80px 60%;
    margin-top: -10px;

    @include tablet{
        padding-left: 300px;
        margin-top: 0;
    }
    @include mobile{
        padding: 80px 0 40px 0;
    }
    .desc{
        font-size: 19px;
        word-break: keep-all; 
        font-weight: 500;
        color: #0064df;

        @include tablet{
            font-size: 17px;
        }
    }
    p+p{
        margin-top: 15px;
    }
}
.sc-work{
    .headline{
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
        font-size: 20px;
        font-weight: 700;
        color: #0064df;
        font-family: 'Cako';
    }
    .work-item{
        display: flex;
        align-items: center;
        padding-bottom: 12vh;
        gap: 50px;

        @include tablet{
            gap: 35px;
        }
        @include mobile{
            flex-direction: column;
            gap: 25px;
            align-items: start;
        }

        .thumb-area{
            position: relative;
            width: 43%;
            max-width: 686px;
            padding-bottom: 57%;
            overflow: hidden;

            @include mobile{
                width: 100%;
                max-width: none;
                padding-bottom: 100%;
            }

            .link-more{
                display: block;

                img{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: .4s;

                    &.money{
                        object-position: right;
                    }
                    &.andar{
                        object-position: top;
                    }
                }
            }
            &::before{
                position: absolute;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: rgba(0, 0, 0, .05);
                z-index: 10;
                content: '';
                transition: .3s;
            }
            &:hover::before{
                background: rgba(0, 0, 0, .35);

                @include mobile{
                    background: rgba(0, 0, 0, .05);
                }
            }
            &:hover{
                img{
                    scale: 1.1;

                    @include mobile{
                        scale: 1;
                    }
                }
            }
        }
        &:nth-child(2n){
            flex-direction: row-reverse;
            gap: 0;

            @include mobile{
                flex-direction: column;
                gap: 25px;
            }
        }

        .info-area{
            position: relative;
            width: 55%;
            max-width: 750px;
            margin-right: -20px;

            @include mobile{
                width: 100%;
                margin-right: 0;

            }
        
            .num{
                font-size: 40px;
                font-family: 'FleurDeLeah';
                color: #0064df;

                @include tablet{
                    display: none;
                }
            }
            .title{
                margin-bottom: 30px;
                font-size: 105px;
                font-weight: 400;
                line-height: .95;
                letter-spacing: -4.2px;
                color: #0064df;
                font-family: 'ivy';
                text-transform: uppercase;

                @include tablet{
                    font-size: 80px;
                    margin-bottom: 25px;
                }
                @include mobile{
                    font-size: 70px;
                    margin-bottom: 15px;
                }
                @media (max-width: 400px) {
                    font-size: 60px;
                }
            }
            .desc-box{
                width: 85%;
                margin-bottom: 25px;
                font-size: 19px;
                color: #0064df;
                font-weight: 500;
                word-break: keep-all;

                @include tablet{
                    font-size: 17px;
                }
                @include mobile{
                    width: 100%;
                }
                .desc{
                    br{
                        display: none;
                    }
                }
                .desc+.desc{
                    padding-top: 13px;
                }
            }
            .keyword-box{
                width: 85%;
                display: flex;
                flex-wrap: wrap;
                gap: 0 1.6vw;
                margin-bottom: 25px;
                font-family: 'MaruBuri';
                font-size: 16px;
                color: #0064df;
                text-transform: uppercase;

                @include tablet{
                    font-size: 15px;
                }
            }
            .more-box{
                display: flex;
                gap: 15px;
                font-family: 'Cardo';
                font-size: 13px;
                text-transform: uppercase;
            
                a{
                    position: relative;
                    display: inline-block;
                    transition: .27s;
                    background: #0064df;
                    color: #fff;
                    border-radius: 50px;
                    padding: 9px 17px 7.5px 17px;
            
                    &:hover{
                        background: #d6eeff;
                        color: #0064df;

                        @include mobile{
                            background: #0064df;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

