.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}
.cursor{
    position: fixed;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 1000;
}
.illu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}