*{margin:0;padding:0;font:inherit;color:inherit;}
*, :after, :before {box-sizing:border-box;flex-shrink:0;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:auto;overflow-wrap:break-word;word-break:break-word;tab-size:4}
html, body {height:100%;}
img, picture, video, canvas, svg {display:block;max-width:100%;}
button {background:none;cursor:pointer;border:0;}
ul{list-style: none;}
a {text-decoration:none;}
table {border-collapse:collapse;border-spacing:0}
body{
    background: #f7f7f7;
    font-family: 'Pretendard';
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    /* overflow: overlay; */
    overflow-x: hidden;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}
/* scrollbar
::-webkit-scrollbar {
    background: transparent;
    width: 8px;
}
/*track*/
/* ::-webkit-scrollbar-track {
    background: transparent;
    position: fixed;
    margin-right: 8px;
} */
/*thumb*/
/* ::-webkit-scrollbar-thumb {
    position: fixed;
    border-width: 8px;
    border-style: solid;
    border-radius: 8px;
    right: 8px;
    border-radius: 100px;
    color: rgb(181, 223, 237);
} */